* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}


form {
    width: 80%;
    /* height: 9%; */
    height: max-content;
    /* background-color: pink; */
    text-align: center;
    margin: .5rem auto;
    /* padding: .5rem; */
}

form input {
    padding: .5rem .7rem;
    border-radius: 5px;
    border: .2px solid black;
    background-color: white;
}

form input:focus {
    border: 3px solid rgba(228, 238, 237, 0.637) ;
    outline: none;
    background-color: white;
}

form button {
    padding: .6rem .9rem;
    background-color: black;
    color: rgba(245, 243, 243, 0.712);
    border: none;
    border-radius: 5px;
}
section {
   
    width: 100%;
    /* height: 91%; */
    /* background-color: purple  ; */
    flex-grow: 2;
    background-color: #e9ecf05b;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    justify-content: center;
    align-items: center;
    font-family: monospace;
    gap: 2rem;
    transition: all 1s ease-in-out;
    /* opacity: 0.5; */
}

.container {
    width: 30%;
    min-width: 350px;
    height: 90vh;
   
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    
    color: black;
    display: flex;
    flex-direction: column;
}
.weatherimg {
    width: 100%;
    /* background-color: aqua; */
}
.weatherimg img {
    border-radius: 25%;
    width: 5rem;
    float: left;
}

.atmosphere {
    letter-spacing: 5px;
    font-size: 2rem;
    text-transform: uppercase;
}
.loader {
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    /* background-color: pink; */
    
}
.loader img {
    width: 15rem;
}

.ghost {
    display: none;
    opacity: 0;
}

